In [ ]:
"""
นาย วีรวัฒน์ ธรรมมัง รหัส 6612732127
"""

# ข้อสอบกลางภาค
## วิชาการเขียนโปรแกรมเชิงวัตถุ
## ประจำภาคการศึกษา 2/2566

### สอนโดย ผู้ช่วยศาสตราจารย์พิศาล สุขขี

คำชี้แจง ข้อสอบแบ่งออกเป็น 2 ส่วน (รวม 30 คะแนน)

ส่วนที่ 1 : ทดสอบความรู้ความเข้าใจพื้่นฐานการเขียนโปรแกรมภาษาไพธิน 10 ข้อ ข้อละ 2 คะแนน (รวม 20 คะแนน)

ส่วนที่ 2 : ทดสอบการประยุกต์แก้ไขปัญหาโจทย์โปรแกรม 2 ข้อ ข้อละ 5 คะแนน (รวม 10 คะแนน)

<hr>

# ส่วนที่ 1 ข้อละ 2 คะแนน

### 1. กำหนดให้ a = 0.5155675 จงแสดงค่าของตัวแปร a ในรูปแบบทศนิยม 2 ตำแหน่ง

In [1]:
# คำตอบ
a = 0.5155675
print("____".format(a))

In [12]:
a = 0.5155675
print("a:{:0.2f}".format(a))

a:0.52

## 2. กำหนดให้นิพจน์คณิตศาสตร์ 

$ 1 + 6 \times 8 - 7 $

มีผลลัพธ์ของการดำเนินการเท่ากับ 7

แสดงแทนนิพจน์ด้านบนด้วยโปรแกรมโปรแกรมภาษาไพธอนที่ให้ค่าลัพธ์ตามที่กำหนด

In [19]:
# คำตอบ
import math
a,b,c,d=1,6,8,7
(a+b)*(c-d)

7

## 3. จงแทนนิพจน์คณิตศาสตร์ต่อไปนี้ให้เป็นโปรแกรมภาษาไพธอน

$ \frac{5 + 6^{2.5}}{\sqrt[2]{3.5}} + 3^2 $

In [23]:
# คำตอบ
import math
(5+6**2.5)/math.sqrt(3.5)+3**2

58.8076767100986

## 4. การดำเนินการกับลิสต์

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

จงเลือกสมาชิกตัวที่ 2 จนถึงตัวที่ 5

In [79]:
# คำตอบ
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
result = my_list[1:5]
print(result)

[20, 30, 40, 50]

## 5. จงแปลงข้อมูลต่อไปนี้ให้อยู่ในรูปของ Dictionary

| รหัสนักศึกษา | ชื่อ |           สกุล           |
|:---------:|:--------:|:--------------------------:|
|    6612732101    |  นายกรวีร์     |           จูมจันทร์          |
|    6612732102    |  นายกฤษณ     |           สุขไชยญาติ          |
|    6612732103    |  นายกิตตินันท์   | สองศร |

In [53]:
# คำตอบ
student_dict = {
"6612732101" :{
    "prefix" : "นาย",
    "f_name" : "กรวีร์",
    "l_name" : "จูมจันทร์",
    }, 
"6612732102" :{
    "prefix" : "นาย",
    "f_name" : "กฤษณ",
    "l_name" : "สุขไชยญาติ",
    },
"6612732103" :{
    "prefix" : "นาย",
    "f_name" : "กิตตินันท์",
    "l_name" : "สองศร",
    },
}
print(student_dict)

{'6612732101': {'prefix': 'นาย', 'f_name': 'กรวีร์', 'l_name': 'จูมจันทร์'}, '6612732102': {'prefix': 'นาย', 'f_name': 'กฤษณ', 'l_name': 'สุขไชยญาติ'}, '6612732103': {'prefix': 'นาย', 'f_name': 'กิตตินันท์', 'l_name': 'สองศร'}}

## 6. จากข้อ 5 จงแสดงวิธีการเข้าถึงข้อมูลของ นายกิตตินันท์ สองศร

In [103]:
# คำตอบ

print (student_dict.get('6612732103')),

{'prefix': 'นาย', 'f_name': 'กิตตินันท์', 'l_name': 'สองศร'}

(None,)

## 7. จงพิจารณาเงื่อนไขและพิมพ์ชุดคำสั่งแทนส่วนที่เว้นว่างไว้

จงตั้งเงื่อนไขเพื่อควบคุมการพิมพ์ชื่อของนักเรียนแต่ละคนและความสูงออกมา โดยจะพิมพ์ออกมาเฉพาะคนที่ชื่อนำหน้าด้วยตัวอักษรอื่น<u>**ที่ไม่ใช่**</u> `'A'` และ<u>**ไม่ใช่**</u> `'C'` และมีความสูงมากกว่า 160 เซนติเมตรเท่านั้น

In [ ]:
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_names)):
    if __________ :
        print(student_names[i], ':', student_heights[i])

In [99]:
#คำตอบ
student_names = ['Arm', 'Bobby', 'Cathy', 'Dorothy', 'Emily']
student_heights = [163.5, 150.0, 167.0, 161.25, 170.0]

for i in range(len(student_names)):
    if student_names[i][0] not in ['A', 'C'] and student_heights[i] > 160:
        print(student_names[i], ':', student_heights[i])

Dorothy : 161.25
Emily : 170.0

## 8. โปรแกรมสูตรคูณอย่างง่าย

จงวนลูปเพื่อแสดงสูตรคูณแม่ 3 ไล่ตั้งแต่ 3×1 จนถึง 3×12 โดยจะได้ผลลัพธ์ดังนี้

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
:
:
:
3 * 12 = 36

In [71]:
# คำตอบ
# วนลูปค่า index i จาก 1 ถึง 12

for i in range(1,13):
    print("{} * {} = {}".format())

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [76]:
for i in range(1,13):
    result = 3*i
    print(f"3 x {i} {result}")

3 x 1 3
3 x 2 6
3 x 3 9
3 x 4 12
3 x 5 15
3 x 6 18
3 x 7 21
3 x 8 24
3 x 9 27
3 x 10 30
3 x 11 33
3 x 12 36

## 9. เขียนฟังก์ชันเพื่อแยกชื่อ และนามสกุลออกจากัน พร้อมแสดงทางหน้าจอ

In [26]:
full_names = ['Harry Potter', 
              'Hermione Granger', 
              'Ronald Weasley']

In [15]:
# คำตอบ

# กำหนดฟังก์ชัน
def ____():
    pass


# กำหนดตัวแปร
full_names = ['Harry Potter', 
              'Hermione Granger', 
              'Ronald Weasley']

# เรียกใช้งานฟังก์ชัน
____(full_names)

In [80]:
def separate_names(full_names):
    for full_name in full_names:
        parts = full_name.split()
        print(f"First Name: {parts[0]}, Last Name: {parts[1]}" if len(parts) == 2 else f"Invalid name format: {full_name}")

full_names = ['Harry Potter', 'Hermione Granger', 'Ronald Weasley']
separate_names(full_names)

First Name: Harry, Last Name: Potter
First Name: Hermione, Last Name: Granger
First Name: Ronald, Last Name: Weasley

## 10. จงแปลงขอความให้เป็นตัวอักษรเล็กทั้งหมด

In [17]:
my_str = 'Python Data Types: Dictionary - Exercises, Practice, Solution'

In [87]:
# คำตอบ
my_str = 'Python Data Types: Dictionary - Exercises, Practice, Solution'
result = my_str.lower()
print(result)

python data types: dictionary - exercises, practice, solution

<hr>

# ส่วนที่ 2 ข้อละ 5 คะแนน

## 11. โปรแกรมคำนวนภาษีมูลค่าเพิ่ม

จงเขียนโปรแกรม เพื่อคํานวณ หาภาษีมูลค่าเพิ่มของบริการ โดยให้มีการทำงานดังนี้ คือ รับราคาบริการ จากนั้นคำนวณหาค่าบริการที่รวมภาษีมูลค่าเพิ่มแล้ว และทำการแสดงผลดังตัวอย่าง

In [ ]:
# ตัวอย่างการทำงาน 1

Enter Service Price : 1000

Service Price
Price : 1000
Vat : 70
Total Price : 1070
 
Thank you.

# ตัวอย่างการทำงาน 2

Enter Service Price : 500

Service Price
Price : 500
Vat : 35
Total Price : 535
 

Thank you.

In [88]:
def Service_Price(price,Vat):
    return Vat+price 
def main():
    price=float(input("Enter price"))
    Vat = 0.07
    result =  Service_Price(price,price*Vat)
    print("Total",result)
    
if __name__=="__main__":
    main()

Enter price 500

Total 535.0

ข้อมูลเพิ่มเติม

1) สามารถหาภาษีมูลค่าเพิ่ม (Vat) ได้จากสูตร ราคาสินค้า * ( 7  / 100 )
2) ราคารวมภาษีมูลค่าเพิ่ม หาได้จากสูตร ราคาสินค้า + Vat ที่หาได้

In [ ]:
# คำตอบ

## 12. โปรแกรมคำนวนค่าเรียนพิเศษ

จงเขียนโปรแกรมคำนวณค่าเรียนพิเศษของ ติวเตอร์คณิตศาสตร์ แห่งหนึ่ง โดย ติวเตอร์แห่งนี้ คิดค่าเรียนเป็นรายชั่วโมง

ชั่วโมงละ 450 บาท และจ่ายเป็นแบบครั้งต่อครั้ง

โดยให้โปรแกรมมีการรับค่าจำนวนช่วงโมงที่สอน และมีรูปแบบการทำงานและแสดงผลตามตัวอย่างต่อไปนี้

ตัวอย่างการทำงาน ครั้งที่ 1

RUN : ทดสอบด้วยการป้อนจำนวนชั่วโมงที่เรียนเป็น 5 ชั่วโมง

Enter Hour : 5
Total : 2250

ตัวอย่างการทำงาน ครั้งที่ 2

RUN : ทดสอบด้วยการป้อนจำนวนชั่วโมงที่เรียนเป็น 1 ชั่วโมง

Enter Hour : 1
Total : 450

In [98]:
# คำตอบ

def calculate_fee(rate, hours):
    return rate * hours

def main():
    rate, hours = 450, 0

    try:
        hours = float(input("Enter hours taught: "))
        if hours < 0:
            raise ValueError("Hours taught cannot be negative.")
        
        total_fee = calculate_fee(rate, hours)
        print(f"Total tuition fee: {total_fee} Baht")

    except ValueError as e:
        print(f"Error: {e}")
    except Exception as e:
        print(f"Unexpected error: {e}")

if __name__ == "__main__":
    main()

Enter hours taught:  5

Total tuition fee: 2250.0 Baht

<hr>

**ข้อให้ทุกคนโชคดีในการสอบ**<br>
ผู้ช่วยศาสตราจารย์พิศาล สุขขี<br>
สาขาวิทยาการคอมพิวเตอร์<br>
มหาวิทยาลัยราชภัฏศรีสะเกษ